
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 1000px;
}

header {
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
   background: white;
   position: absolute; 
   width: 80%;
   top: 30px;
   left: 60px;
   z-index: 1000;
  
   
}

nav .list{
    font-size: 40px;
    font-weight: bold;
    color: rgb(210, 116, 28); 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
 section.img{
    width: 100%;
    height: 30em; 
    margin-top: 10%;
    padding: 0;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
 }

.parent{
        background-color: rgb(39, 41, 39);
        margin-top: 0%;
        display: block;
        margin-top: 0% auto;
        width: 2000px;
        font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    text-align: center;
    height: 300px;
   


}
.sec1 , .sec2 , .sec3 , .sec4{
    float: left;
    width: 282px;
    text-align: center;
    margin-top: 80px;
margin-left: 40px;
margin-right: 40px;
align-items: center;


}
.fa-solid.fa-gears ,.fa-solid.fa-hammer , .fa-solid.fa-lock , .fa-solid.fa-screwdriver-wrench{
font-size: 60px;
color: aliceblue;


}
.part3{
    text-align: center;
    width:  1150px;
    margin: auto;
    
        }
        .part3 h2{  
    font-weight: 400;
    font-size: 2.4em;
    color: #555555;
    font-family: 'Source Sans Pro', sans-serif;
    
    font-weight: 400;
    font-size: 2.4em;
    color: #555555;
        }
        
        .part3 h3 {
        display: block;
        /* margin-bottom: 3em; */
        text-transform: uppercase;
        font-size: 1.2em;
        color: #A2A2A2;
    
    }
    
    
    .part3  p3{ 
           
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 11pt;
            font-weight: 300;
            color: #6c6c6c;
            line-height: 180%;
        }
        .part3 button{
    
               
                padding: 1.3em 3em;
                background: #1B9772;
             margin-top:5% ;
                letter-spacing: 0.20em;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                color: #FFF;
                border: none; 
               
            
        }
        nav ul li1 a {
    
            padding: 1.3em 3em;
            background: #1B9772;
            letter-spacing: 0.20em;
            text-decoration: none;
            font-weight: 600;
            color:white;
            border: none; 
        }
        .last{
    
            text-align: center;
            width: auto;
            height: 200px;
            background-color: #343131;
            margin-top: 70px;
    display: flex;
            justify-content: center; 
            align-items: center; 
            text-align: center;
            color: #A2A2A2; 
        }